@import 'reset.css';

:root {
  --white: #fff;
  --black: #171717;
  --yellow: #ffee70;
  --green: #066b54;
  --mono1: #fcfcfc;
  --mono2: #f8f8f8;
  --mono3: #f3f3f3;
  --mono4: #ededed;
  --mono5: #e8e8e8;
  --mono6: #e2e2e2;
  --mono7: #dbdbdb;
  --mono8: #c7c7c7;
  --mono9: #8f8f8f;
  --transparent: transparent;

  --fg: var(--black);
  --bg: var(--white);
  --accent: var(--yellow);

  --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-heading: var(--helvetica-now), var(--font-fallback);
  --font-body: var(--helvetica-now), var(--font-fallback);

  --text-xxl: 30px;
  --text-xl: 24px;
  --text-lg: 20px;
  --text: 16px;
  --text-sm: 14px;
  --text-xs: 12px;
  --text-xxs: 10px;

  --kerning-lg: -0.33px;

  --grid-columns: 4;
  --grid-gutter: 12px;
  --grid-margin: 20px;
  --grid-width: calc(100vw - var(--grid-margin) * 2);
  --grid-column-width: calc(
    (var(--grid-width) - ((var(--grid-columns) - 1) * var(--grid-gutter))) / var(--grid-columns)
  );

  --radius-xl: 14px;
  --radius-lg: 10px;
  --radius: 8px;
  --radius-sm: 5px;
  --radius-xs: 3px;
  --radius-full: 999px;

  --transition-instant: 0ms;
  --transition-fastest: 80ms;
  --transition-fast: 100ms;
  --transition-med: 160ms;
  --transition-xx: 240ms;
  --transition-xxl: 320ms;
  --transition-long: 480ms;
  --transition-slow: 1200ms;

  --layer-overlay: 100;
  --layer-portal: 200;
  --layer-toasts: 300;
  --layer-popover: 400;
  --layer-dialog: 500;
  --layer-tooltip: 600;

  --page-width: 1400px;
  --content-width: 840px;
  --page-top: 128px;

  accent-color: var(--accent);

  @media (min-width: 768px) {
    --grid-columns: 8;
    --grid-gutter: 20px;
  }

  @media (min-width: 1024px) {
    --grid-columns: 12;
  }

  @media (min-width: 1440px) {
    --grid-gutter: 1.4vw;
    --grid-margin: 1.4vw;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --mono1: #1a1a1a;
    --mono2: #1c1c1c;
    --mono3: #232323;
    --mono4: #282828;
    --mono5: #2e2e2e;
    --mono6: #343434;
    --mono7: #3e3e3e;
    --mono8: #505050;
    --mono9: #707070;

    --fg: var(--white);
    --bg: var(--black);
  }
}

[data-theme='dark'] {
  color-scheme: dark;
  --white: #fef9e6;
  --mono1: #1a1a1a;
  --mono2: #1c1c1c;
  --mono3: #232323;
  --mono4: #282828;
  --mono5: #2e2e2e;
  --mono6: #343434;
  --mono7: #3e3e3e;
  --mono8: #505050;
  --mono9: #707070;

  --fg: var(--white);
  --bg: var(--black);
}

[data-theme='light'] {
  color-scheme: light;
  --mono1: #fcfcfc;
  --mono2: #f8f8f8;
  --mono3: #f3f3f3;
  --mono4: #ededed;
  --mono5: #e8e8e8;
  --mono6: #e2e2e2;
  --mono7: #dbdbdb;
  --mono8: #c7c7c7;
  --mono9: #8f8f8f;

  --fg: var(--black);
  --bg: var(--white);
}

::selection {
  color: var(--bg);
  background: var(--fg);
  text-shadow: none;
  text-decoration-color: var(--mono9);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
}

body {
  min-height: 100vh;
  min-height: calc(var(--dvh, 1vh) * 100);
  color: var(--fg);
  background: var(--bg);
  font: 500 normal clamp(16px, 1.11vw, 21px) / normal var(--font-body);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: var(--font-heading);
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent);
}

.link {
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
}

/* lenis */
@media (pointer: fine) {
  html.lenis,
  html.lenis body {
    height: auto;
  }
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  height: auto;
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
