*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

a,
button,
input,
label,
select,
textarea {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

a,
button {
  touch-action: manipulation;
  cursor: revert;
}

a[class] {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul,
menu {
  list-style: none;
  padding: 0;
}
