.sr-only {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
}

.grid-gap {
  grid-gap: var(--grid-gutter);
}

.grid-padding {
  padding-inline: var(--grid-margin);
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

.fit-content {
  width: fit-content;
}

.overflow-hidden {
  overflow: hidden;
}

.aspect-video {
  aspect-ratio: 16/9;
}

.aspect-square {
  aspect-ratio: 1;
}
