---
import Layout from "@layouts/default.astro";
---

<Layout description="A star is born">
  <div class="wrapper">
    <h1 class="text-center">stella <br /> starter</h1>
    <p class="desc">
      <a
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
      >
        Astro
      </a> starter template.
    </p>
  </div>
</Layout>

<style>
  h1 {
    font: 700 normal clamp(10px, 8.33vw, 160px) / 0.8 "Neue Montreal";
    text-transform: uppercase;
  }

  .desc {
    padding-block: 2.5vw 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: max(6vw, 1rem);
  }
</style>
