---
import Layout from "@layouts/default.astro";
import { Image } from "astro:assets";
import localImage from "@assets/the-inferno-canto.jpg";
---

<Layout description="A star is born">
  <div class="wrapper">
    <h1 class="text-center">stella <br /> starter</h1>
    <p class="desc">
      <a
        href="https://astro.build"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
      >
        Astro
      </a> starter template.
    </p>

    <div class="poster">
      <Image
        src={localImage}
        alt="Astro img"
        loading="lazy"
        quality="mid"
        widths={[240, 540, 720, localImage.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${localImage.width}px`}
      />
    </div>
  </div>
</Layout>

<style>
  h1 {
    font: 700 normal clamp(10px, 8.33vw, 160px) / 0.8 "Neue Montreal";
    text-transform: uppercase;
  }

  .desc {
    padding-block: 2.5vw;
  }

  .poster {
    aspect-ratio: 3 / 1;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: max(6vw, 1rem);
  }
</style>
