---
import { GridOverlayToggle } from '@components/grid-overlay/index.jsx';
const LINKS = [
  {
    href: 'https://github.com/mmerle/stella/generate',
    label: 'Use this template',
  },
  {
    href: 'https://github.com/mmerle/stella/',
    label: 'GitHub',
  },
];
---

<footer class="footer">
  <GridOverlayToggle client:idle>Shift + G</GridOverlayToggle>

  <div>
    {
      LINKS.map((link, index) => (
        <>
          <a href={link.href} target="_blank" rel="noopener noreferrer" class="link">
            {link.label}
          </a>
          {index !== LINKS.length - 1 && <span>/</span>}
        </>
      ))
    }
  </div>
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--grid-margin);
  }

  .toggle-grid {
    cursor: pointer;
  }
</style>
