---
const themes = ["light", "dark", "system"];
const theme = Astro.cookies.get("theme")?.value ?? "system";
---

<div class="theme-switcher">
  {
    themes.map((t) => (
      <label>
        {t}
        <input
          id={t}
          type="radio"
          checked={theme === t}
          name="theme-switcher"
        />
      </label>
    ))
  }
</div>
