---
const theme = Astro.cookies.get("theme")?.value ?? "system";
---

<div class="theme-switcher" name="themeSwitcher"></div>

<style>
  .theme-switcher {
    --size: 20px;
    height: var(--size);
    width: var(--size);
    background: var(--fg);
    cursor: pointer;
    display: inline-block;
  }
</style>
